@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

h1 { 
    text-align: center;
    font-family: 'Righteous', cursive;
    box-shadow: .1em 0 0 #0f0f0f;
    font-size: calc(2em + 1vw);
    width: 13ch;
    overflow: hidden;
    color: #FFF;
    white-space: nowrap;
    animation: caret .5s step-end infinite alternate,
               type 5s steps(23, end)
  }

  @keyframes type {
    0% {
      width: 0;
    }
  
  }
  @keyframes caret { 
    50% { 
      box-shadow: .6em 0 0 transparent;
    }
  }

h2{
    color: lime; 
    font-family: "Courier";
    font-size: 20px;
    margin: 10px 0 0 10px;
    white-space: nowrap;
    overflow: hidden;
    width: 30em;
    animation: type 8s steps(60, end); 
}
  
h2:nth-child(2){
    animation: type2 8s steps(60, end);
}

h2 {
    margin-top: 0%;
    font-size: 18px;
    text-align: center;
    color: #fff;
}

body {
    background-image: url('https://wallpapercave.com/wp/wp2763894.gif');
}

footer {
    color: #fff;
    text-align: center;
}

.cabecalho {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}

.conteudo {
    display: flex;
    flex-direction: column ;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
    border-top: 0.4px solid #FFF2E7;
    transition: ease-in-out .25s;
    transition: ease-in .25s;
}

.conteudo-principal-escrito-botao {
    background-color: #ECD6C4;
    width: 180px;
    height: 60px;
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #fff;
}

.imagem-eu {
    border-radius: 100%;
    width: 12rem;
    height: 12rem;
    margin-bottom: 2%;
    border: 4px solid rgb(255, 255, 255);

}

.conteudo-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.instagram {
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
}

.facebook {
    margin-top: 5px;
    background-color: #3b5998;

}

.linkedin {
    margin-top: 5px;
    background-color: #0e76a8;

}

.github {
    margin-top: 5px;
    background-color: #171515;

}

.e-mail {
    margin-top: 5px;
    background-color: #0072c6;
}

.whatsapp {
    margin-top: 5px;
    background-color: #34af23;
}

button {
    border-color: #3498db;
    color: #fff;
    box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
}

button:hover {
    box-shadow: 0 0 10px 0 #ffffff inset, 0 0 10px 4px #ffffff;

}